@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1440px;
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
}
@layer utilities {
  .clip-jumbotron {
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  }
  .gede:hover {
    scale: 1.05;
  }
}
